<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ApplicationTestSuite" parallel="methods">
    <listeners>
        <listener class-name="reports.CustomisedListener"/>
        <listener class-name="reports.CustomisedReports"/>
    </listeners>
    <test verbose="2" name="GmailTest">
        <classes>
            <class name="ApplicationTest">
                <methods>
                    <include name="gmailTest"/>
                </methods>
            </class>
            <class name="FailedTest">
                <methods>
                    <include name="failedTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
